@import dtos.DeleteGroupDto
@import policyenforcement.session.SessionManager.SessionInstance
@(groupsFormMap: scala.collection.Map[Group, Form[DeleteGroupDto]])

@import bootstrapHelper._

@viewGroupButton(g: Group) = {
    @if(policyenforcement.Policy.instance.CanViewGroupDetails(SessionInstance().currentUser(), g)) {
        @link("Mitglieder bearbeiten", routes.GroupController.showGroup(g.getGroupId()))
    }
}

@deleteGroupButton(g: Group, f: Form[DeleteGroupDto]) = {
    @if(policyenforcement.Policy.instance.CanDeleteGroup(SessionInstance().currentUser(), g)) {
        @bootstrapHelper.form(
            routes.GroupController.deleteGroup(g.getGroupId()),
            f,
            scala.collection.Map(
                "groupId" -> Input(InputType.Hidden)
            ),
            button = bootstrapHelper.button("Gruppe loeschen")
        )
    }
}

@Main("Alle Gruppen") {
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-auto mr-auto">
                    <h2>Alle Gruppen</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid" role="main">
            <div class="row flex-xl-row">
                <div class="col px-3 py-3 bd-content col-align-self-center">
                    @table(groupsFormMap
                            .map{ case (k, v) => scala.collection.Map(
                                    "Gruppenname" -> Left(k.getName()),
                                    "Gruppenmitglieder anschauen" -> Right(viewGroupButton(k)),
                                    "Gruppe loeschen" -> Right(deleteGroupButton(k, v))
                                )}
                            .toSeq
                    )
                </div>
            </div>
        </div>


}
