@import views.html.groups.DeleteGroupBtn
@import views.TemplateEnvironment
@(group : Group)(body : Html)

@Base(group.getName + " (Gruppe)") {
    <div class="inline-menu lr">
        <div class="left">
            <span class="title">Ansicht:</span>
            @helper.MenuLink("Dateien", routes.GroupController.showGroupFiles(group.getGroupId))
            -
            @helper.MenuLink("Mitglieder", routes.GroupController.showGroupMembers(group.getGroupId))
        </div>
        <div class="right">
            @DeleteGroupBtn(group)
            -
            @if(TemplateEnvironment.policy.canGenerallyAddGroupMember(group)) {
                <a href="@routes.GroupController.showAddMemberForm(group.getGroupId)">Benutzer hinzufügen</a>
            } else {
                <button type="submit" class="linkBtn" disabled>Benutzer hinzufügen</button>
            }
            -
            <a href="@routes.FileController.showUploadFileToGroupForm(group.getGroupId)">Datei hinzufügen</a>
        </div>
    </div>

    @body
}