@import views.TemplateEnvironment
@(group : Group, members : Seq[User])

@GroupBase(group) {
    <table>
        <thead>
            <tr>
                <td>Benutzername</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
            @for(member <- members) {
                <tr>
                    <td>
                        <b>@member.getUsername</b>
                        @if(member.equals(group.getOwner)) {
                            (Eigentümer der Gruppe)
                        }
                    </td>
                    <td class="right">
                        @if(TemplateEnvironment.policy().canRemoveGroupMember(group, member)) {
                            @helper.form(action = routes.GroupController.removeGroupMember(group.getGroupId())) {
                                @helper.CSRF.formField
                                <input type="hidden" name="userId" value="@member.getUserId" />
                                <button type="submit" class="linkBtn">Aus Gruppe entfernen</button>
                            }
                        } else {
                            <button type="submit" class="linkBtn" disabled>Aus Gruppe entfernen</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}