@import dtos.login.ChangePasswordAfterResetDto
@import views.TemplateEnvironment
@(form: Form[ChangePasswordAfterResetDto], captchaRequired: Boolean)

@captcha() = {
    @if(captchaRequired) {
        @TemplateEnvironment.getRecaptchaHelper.CaptchaField()
        <br>
    }
}

@Base1C("Passwort ändern"){
    <div class="message">
        Sie sind gezwungen, ihr Passwort zu ändern, bevor Sie fortfahren können.
    </div>

    @helper.form(action = routes.LoginController.changePasswordAfterReset()) {
        <div class="inputForm">
            <input type="hidden" name="username" value="@form("username").value" />
            <input type="hidden" name="currentPassword" value="@form("currentPassword").value" />
            @helper.PasswordInput(form("password"), "Neues Passwort")
            @helper.PasswordInput(form("passwordRepeat"), "Neues Passwort (Wiederholen)")
        </div>

        @captcha()

        <div class="inputControls">
            <input type="submit" value="Passwort ändern" />
        </div>

        @helper.CSRF.formField
    }
}