@import dtos.ChangePasswordAfterResetDto
@import views.TemplateEnvironment
@(form: Form[ChangePasswordAfterResetDto], captchaRequired: Boolean)

@captcha() = {
    @if(captchaRequired) {
        @TemplateEnvironment.getRecaptchaHelper.CaptchaField()
        <br>
    }
}

@Base1C("Passwort zurücksetzen"){
    @helper.form(action = routes.LoginController.changePasswordAfterReset()) {
        <div class="inputForm">
            @helper.TextInput(form("username"), "Benutzername")
            @helper.PasswordInput(form("currentPassword"), "Aktuelles Passwort")
            @helper.PasswordInput(form("password"), "Neues Passwort")
            @helper.PasswordInput(form("passwordRepeat"), "Neues Passwort (Wiederholen)")
        </div>

        @captcha()

        <div class="inputControls">
            <input type="submit" value="Passwort ändern" />
        </div>

        @helper.CSRF.formField
    }
}