@import dtos.login.UserLoginDto
@import views.TemplateEnvironment
@(form: Form[UserLoginDto], captchaRequired: Boolean)


@captcha() = {
    @if(captchaRequired) {
        @TemplateEnvironment.getRecaptchaHelper.CaptchaField()
    }
}

@Base1C("Login") {
    @helper.form(action = routes.LoginController.login()) {
        <div class="inputForm">
            @helper.TextInput(form("username"), "Benutzername")
            @helper.PasswordInput(form("password"), "Passwort")
            @helper.TextInput(form("twofactorpin"), "Zweiter Faktor")
        </div>

        @captcha()

        <div class="inputControls">
            <input type="submit" value="Login" />
        </div>

        @helper.CSRF.formField
    }

    <hr>

    <a href=@routes.LoginController.showResetPasswordForm()>Passwort zurücksetzen</a>
}