@import dtos.login.RequestResetPasswordDto
@import views.TemplateEnvironment
@(form: Form[RequestResetPasswordDto])

@Base1C("Passwort zurücksetzen") {
    @helper.form(action = routes.LoginController.requestResetPassword()) {
        <div class="inputForm">
            @helper.TextInput(form("username"), "Benutzername")
        </div>

        @TemplateEnvironment.getRecaptchaHelper.CaptchaField()

        <div class="inputControls">
            <input type="submit" value="Passwort zurücksetzen" />
        </div>

        @helper.CSRF.formField
    }

    <hr>

    <a href="@routes.LoginController.showLoginForm()">Login</a>
}
