@import dtos.login.ResetPasswordDto
@(form: Form[ResetPasswordDto], tokenId : UUID)

@Base1C("Passwort zurücksetzen") {
    @helper.form(action = routes.LoginController.resetPasswordWithToken(tokenId)) {
        <div class="message error">
            Durch den Passwort-Reset verlieren sie sämtliche Service-Credentials!
        </div>

        <div class="inputForm">
            @helper.PasswordInput(form("newPassword"), "Neues Passwort")
            @helper.PasswordInput(form("newPasswordRepeated"), "Neues Passwort")
        </div>

        <div class="inputControls">
            <input type="submit" value="Passwort ändern" />
        </div>

        @helper.CSRF.formField
    }

    <hr>

    <a href="@routes.LoginController.showLoginForm()">Login</a>
}
