@import dtos.EditFileDto
@import views.TemplateEnvironment
@import views.html.file.btn.DeleteUserPermissionBtn
@import views.html.file.btn.DeleteGroupPermissionBtn
@import views.html.file.btn.EditGroupPermissionBtn
@import views.html.file.btn.EditUserPermissionBtn
@import dtos.EditFileCommentDto
@import dtos.EditFileContentDto
@import views.html.helper.StandaloneFileInput
@import views.html.helper.FileInput
@import extension.FileSizeFormatter.FormatSize;
@(file:File, editFileContentForm : Form[EditFileContentDto], editFileCommentForm : Form[EditFileCommentDto])

@Base(file.getName + " (Datei)") {
    <div class="left_right">
        <div class="left">
            <div class="fileMeta @helper.TrustworthyFileClass(file)">
                Dateiname: @file.getName<br>
                Größe: @FormatSize(file.getDataSize())<br>
                Eigentümer: @file.getOwner.getUsername<br>
                Geschrieben von: @file.getWrittenBy.getUsername am @file.getWrittenByDt.toString("dd.MM.yyyy - HH:mm:ss")<br>
                <a href="@routes.FileController.downloadFile(file.getFileId)"><b>Download</b></a> -

                @helper.form(action = routes.FileController.deleteFile()) {
                    <input type="hidden" name="fileId" value="@file.getFileId" />
                    <button type="submit" class="linkBtn">Datei löschen</button>
                    @helper.CSRF.formField
                }
            </div>
        </div>

        @if(TemplateEnvironment.GetPolicy().CanWriteFile(TemplateEnvironment.GetMainManager().currentUser(), file)) {
            <div class="right">
                <h2 class="noTopSpace">Datei Überschreiben</h2>

                @helper.form(action = routes.FileController.editFileContent(), 'enctype -> "multipart/form-data") {
                    @helper.CSRF.formField
                    <input type="hidden" name="fileId" value="@file.getFileId" />

                    <div class="inputForm">
                        @FileInput(editFileContentForm("file"), "Datei")
                    </div>
                    <div class="inputControls">
                        <input type="submit" value="Überschreiben" />
                    </div>
                }
            </div>
        }
    </div>



    <h2>Kommentar</h2>
    @if(TemplateEnvironment.GetPolicy.CanWriteFile(TemplateEnvironment.GetMainManager().currentUser(), file)) {
        @helper.form(action = routes.FileController.editFileComment()) {
            <div class="inputForm">
                <div class="fileComment">
                    @helper.StandaloneTextAreaInput(editFileCommentForm("comment"))
                </div>
            </div>
            <div class="inputControls">
                <input type="submit" value="Ändern" />
            </div>
            <input type="hidden" name="fileId" value="@file.getFileId" />
            @helper.CSRF.formField
        }
    } else {
        <form>
            <div class="inputForm">
                <div class="fileComment">
                    <textarea disabled="disabled">@file.getComment</textarea>
                </div>
            </div>
        </form>
    }

    @if(TemplateEnvironment.GetPolicy().CanViewFilePermissions(TemplateEnvironment.GetMainManager().currentUser(), file)) {
        <h2>Berechtigungen</h2>
        @if(file.getGroupPermissions.isEmpty && file.getUserPermissions.isEmpty) {
            <p>Keine Berechtigungen gesetzt</p>
        } else {
            <table>
                <thead>
                    <tr>
                        <td>Bezugsobjekt</td>
                        <td>Berechtigung</td>
                        <td></td>
                    </tr>
                </thead>

                @for(groupPermission <- file.getGroupPermissions) {
                    <tr>
                        <td>Gruppe: @groupPermission.getGroup.getName</td>
                        <td>@helper.PermissionFormat(groupPermission.getCanRead, groupPermission.getCanWrite)</td>
                        <td>@EditGroupPermissionBtn(groupPermission) - @DeleteGroupPermissionBtn(groupPermission)</td>
                    </tr>
                }

                @for(userPermission <- file.getUserPermissions) {
                    <tr>
                        <td>User: @userPermission.getUser.getUsername</td>
                        <td>@helper.PermissionFormat(userPermission.getCanRead, userPermission.getCanWrite)</td>
                        <td>@EditUserPermissionBtn(userPermission) - @DeleteUserPermissionBtn(userPermission)</td>
                    </tr>
                }
            </table>
        }

        <div class="inputControls">
            @helper.form(action = routes.PermissionController.showCreateGroupPermission(file.getFileId)) {
                <input type="submit" value="Neue Gruppenberechtigung" />
            }

            @helper.form(action = routes.PermissionController.showCreateUserPermission(file.getFileId)) {
                <input type="submit" value="Neue Benutzerberechtigung" />
            }
        </div>
    }
}