@(form: Form[dtos.UploadFileDto], userPermissionDtos: Seq[dtos.UserPermissionDto], groupPermissionDtos: Seq[dtos.GroupPermissionDto])

@Base("Datei Hochladen") {
    @helper.form(action = routes.FileController.uploadFile(), 'enctype -> "multipart/form-data") {
        @helper.CSRF.formField
        <div class="inputForm">
            @helper.TextInput(form("filename"), "Dateiname")
            @helper.TextInput(form("comment"), "Kommentar")
            <div class="element" >
                <div class="label">
                    <label>Datei:</label>
                </div>
                <div class="input">
                    <input type="file" name="file">
                </div>
            </div>

            <div class="element" >
                <div class="label">
                    <label>Gruppenrechte:</label>
                </div>
                <div class="input">
                    <table class="fileTable">
                        <thead>
                            <tr>
                                <td class="name">Gruppenname</td>
                                <td>Rechte</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for(group <- groupPermissionDtos) {
                                <tr>
                                    <td>@group.getGroupName()</td>
                                    <td>
                                        <select name="group_@group.getGroupId()">
                                            <option value="Keine" selected="selected">None</option>
                                            <option value="Lesen">Read</option>
                                            <option value="Schreiben">Write</option>
                                            <option value="Schreiben und Lesen">ReadAndWrite</option>
                                        </select>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="element" >
                <div class="label">
                    <label>Nutzerrechte:</label>
                </div>
                <div class="input">
                    <table class="fileTable">
                        <thead>
                            <tr>
                                <td class="name">Nutzername</td>
                                <td>Rechte</td>
                            </tr>
                        </thead>
                        <tbody>
                        @for(group <- userPermissionDtos) {
                            <tr>
                                <td>@group.getUsername()</td>
                                <td>
                                    <select name="user_@group.getUserId()">
                                        <option value="Keine" selected="selected">None</option>
                                        <option value="Lesen">Read</option>
                                        <option value="Schreiben">Write</option>
                                        <option value="Schreiben und Lesen">ReadAndWrite</option>
                                    </select>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="inputControls">
            <input type="submit" value="Datei hochladen" />
        </div>
    }
}
