@import dtos.UserQuotaDto
@import extension.FileSizeFormatter.FormatSize
@(quota : UserQuotaDto)

@percent(value : Double) = {
    @("%.2f".formatLocal(lang().toLocale(), value*100))%
}

@Base("Quota") {
    <p>
        <b>Zugewiesener Speicher: @FormatSize(quota.getTotalQuota)</b><br>
    </p>
    <hr>
    <p>
        Freier Speicher: @percent(quota.getFreeQuotaPercent()) (@FormatSize(quota.getTotalFreeQuota))<br>
        Belegter Speicher: @percent(quota.getUsedQuotaPercent()) (@FormatSize(quota.getTotalUsedQuota))<br>
    </p>
    <hr>
    <p>
        Dateinamen: @percent(quota.getUsedTitleQuotaPercent()) (@FormatSize(quota.getTotalUsedTitleQuota))<br>
        Kommentare: @percent(quota.getUsedCommentQuotaPercent()) (@FormatSize(quota.getTotalUsedCommentQuota))<br>
        Dateiinhalte: @percent(quota.getUsedFileDataQuotaPercent()) (@FormatSize(quota.getTotalUsedFileDataQuota))<br>
            @*
        @helper.form(action = routes.FileController.removeTempFiles()) {
            @helper.CSRF.formField
            <button type="submit" class="linkBtn">Temporäre Dateien löschen</button>
        }
        *@
    </p>



}