@import dtos.UserQuotaDto
@import extension.FileSizeFormatter.humanReadableByteCount
@(quota : UserQuotaDto)

@percent(value : Double) = {
    @("%.2f".formatLocal(lang().toLocale(), value*100))%
}

@Base("Quota") {
    <p>
        <b>Zugewiesener Speicher: @humanReadableByteCount(quota.getTotalQuota)</b><br>
    </p>
    <hr>
    <p>
        Freier Speicher: @percent(quota.getFreeQuotaPercent()) (@humanReadableByteCount(quota.getTotalFreeQuota))<br>
        Belegter Speicher: @percent(quota.getUsedQuotaPercent()) (@humanReadableByteCount(quota.getTotalUsedQuota))<br>
    </p>
    <hr>
    <p>
        Dateinamen: @percent(quota.getUsedTitleQuotaPercent()) (@humanReadableByteCount(quota.getTotalUsedTitleQuota))<br>
        Kommentare: @percent(quota.getUsedCommentQuotaPercent()) (@humanReadableByteCount(quota.getTotalUsedCommentQuota))<br>
        Dateiinhalte: @percent(quota.getUsedFileDataQuotaPercent()) (@humanReadableByteCount(quota.getTotalUsedFileDataQuota))<br>
        Temporäre Dateien: @percent(quota.getUsedTempFilesQuotaPercent()) (@humanReadableByteCount(quota.getTotalTempFilesQuota)) -
        @helper.form(action = routes.FileController.removeTempFiles()) {
            @helper.CSRF.formField
            <button type="submit" class="linkBtn">Temporäre Dateien löschen</button>
        }
    </p>



}