@import dtos.user.CreateUserDto
@(form: Form[CreateUserDto])

@Base("Benutzer erstellen"){
    @helper.form(action = routes.UserController.createUser()) {
        <div class="inputForm">
            @helper.TextInput(form("username"), "Benutzername")
            @helper.TextInput(form("email"), "E-Mail")
            @helper.TextInput(form("quotaLimit"), "Datenkontigent")
        </div>
        <div class="inputControls">
            <input type="submit" value="Benutzer anlegen" />
        </div>

        @helper.CSRF.formField
    }
}