@import views.TemplateEnvironment
@(form: Form[dtos.ResetUserPasswordDto])

@captcha() = {
    @TemplateEnvironment.getRecaptchaHelper.CaptchaField()
    <br>
}

@Main("Change Users Own Password"){
    @bootstrapHelper.form(
        routes.UserController.resetUserPassword(),
        form,
        scala.collection.Map(
            "username" -> Input(InputType.Text,
                label = "Benutzername",
                placeholder = "Benutzernamen hier eingeben")
        ),
        button = bootstrapHelper.button("Zurücksetzen"),
        captcha
    )
}