@import dtos.user.{ChangeOwnPasswordDto, ChangeUserSessionTimeoutDto}
@(sessionTimeoutForm: Form[ChangeUserSessionTimeoutDto], changePasswordForm: Form[ChangeOwnPasswordDto], twoFactorActive: Boolean)

@Base("Benutzer-Einstellungen") {

    <h2>Session-Timeout</h2>
    <div class="message error">
        Wenn es zu einer Zeitumstellung (Winter/Sommerzeit) kommt, kann es dazu kommen, dass die Session-Dauer temporär um eine Stunde verlängert wird.
    </div>
    @helper.form(action = routes.UserController.changeUserSessionTimeout()) {
        <div class="inputForm">
        @helper.TextInput(sessionTimeoutForm("valueInMinutes"), "Timeout (in min)")

        </div>
        <div class="inputControls">
            <input type="submit" value="Speichern" />
        </div>

        @helper.CSRF.formField
    }

    <h2>Passwort ändern</h2>
    @helper.form(action = routes.UserController.changeUserPassword()) {
        <div class="inputForm">
            @helper.PasswordInput(changePasswordForm("currentPassword"), "Aktuelles Passwort")
            @helper.PasswordInput(changePasswordForm("newPassword"), "Neues Passwort")
            @helper.PasswordInput(changePasswordForm("newPasswordRepeat"), "Neues Passwort")

        </div>
        <div class="inputControls">
            <input type="submit" value="Speichern" />
        </div>

        @helper.CSRF.formField
    }
    <h2>Zwei-Faktor Authentifizierung</h2>
    @if(twoFactorActive) {
        @helper.form(action = routes.UserController.deactivateTwoFactorAuth()) {
            <div class="inputControls">
                <input type="Submit" value="Deaktivieren" />
            </div>
            @helper.CSRF.formField
        }
    } else {
        @helper.form(action = routes.UserController.show2FactorAuthConfirmationForm()) {
            <div class="inputControls">
                <input type="Submit" value="Aktivieren" />
            </div>
        }
    }
}