@import dtos.UserListEntryDto
@import bootstrapHelper._

@(users: Seq[UserListEntryDto])

@Main("HsH-Helper Benutzerliste") {
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Aktion</th>
            </thead>

            <tbody>
                @for(user <- users) {
                    <tr>
                        <td>@user.getIndex()</td>
                        <td>@user.getUsername()</td>
                        <td>
                            <form action="@routes.UserController.deleteUser" method="POST">
                                @helper.CSRF.formField
                                <input type="hidden" name="userId" value="@user.getUserId()"/>
                                @button("Löschen")
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}