@import dtos.user.ChangeUserQuotaLimitDto
@(changeUserQuotaLimitForm: Form[ChangeUserQuotaLimitDto], twoFactorActive : Boolean, userId : Long)

@Base("Benutzer-Einstellungen") {

    <h2>Quota</h2>
    @helper.form(action = routes.UserController.changeUserQuotaLimit()) {
        <div class="inputForm">

            <input type="hidden" value="@changeUserQuotaLimitForm("userId").getValue.get()" name="userId" />
            @helper.TextInput(changeUserQuotaLimitForm("newQuotaLimit"), "Quota Limit in Byte")

        </div>
        <div class="inputControls">
            <input type="submit" value="Speichern" />
        </div>

        @helper.CSRF.formField
    }


    <h2>Zwei-Faktor Authentifizierung</h2>
    @if(twoFactorActive) {
        @helper.form(action = routes.UserController.deactivateSpecificUserTwoFactorAuth()) {
            <input type="hidden" name="userId" value="@userId" />
            <div class="inputControls">
                <input type="Submit" value="Deaktivieren" />
            </div>
            @helper.CSRF.formField
        }
    } else {
        <div class="inputControls">
            <input type="Submit" value="Deaktivieren" disabled="disabled" />
        </div>
    }


}
