@import policyenforcement.session.Session
@import models.dtos.DeleteSessionDto
@import policyenforcement.session.SessionManager.SessionInstance
@import policyenforcement.session.Session
@(sessions: scala.collection.Map[Session, Form[DeleteSessionDto]])

@import bootstrapHelper._

@sessionButton(s: Session, f: Form[DeleteSessionDto]) = {
    @if(policyenforcement.Specification.instance.CanDeleteSession(SessionInstance().currentUser(), s)) {
        @form(
            routes.UserController.deleteUserSession(),
            f,
            scala.collection.Map(
                "sessionId" -> Input(InputType.Hidden)
            ),
            button = bootstrapHelper.button("Session Zerstören")
        )
    } else {
        @button("Session Zerstören", disabled = true)
    }
}

@Main("HsH-Helfer: deine aktive Sessions") {
    @bootstrapHelper.center("Aktive Sessions") {
        @table(sessions
                .map{
                    case (k, v) => scala.collection.Map(
                            "Verwendete IP" -> Left(k.getRemoteAddress),
                            "Erstellungsdatum" -> Left(k.getIssuedAt.toString("dd.MM.yyyy - HH:mm:ss")),
                            "Aktion" -> Right(sessionButton(k, v))
                    )}
                .toSeq,
            bordered = true
        )
    }
}