@import dtos.netservice.CreateNetServiceCredentialsDto
@(netServices: Seq[NetService], form: Form[CreateNetServiceCredentialsDto])

@Base("Zugangsdaten speichern") {
    @helper.form(action = routes.NetServiceController.createNetServiceCredential()) {
        <div class="inputForm">

            @helper.SelectInput(form("netServiceId"), "Netzdienst", netServices.map(
                netService => netService.getNetServiceId.toString -> netService.getName
            ))
            @helper.TextInput(form("username"), "Benutzername")
            @helper.PasswordInput(form("password"), "Passwort")

        </div>
        <div class="inputControls">
            <input type="submit" value="Zugangsdaten speichern" />
        </div>

        @helper.CSRF.formField
    }
}