@import views.TemplateEnvironment
@(netServiceCredential: NetServiceCredential)

@if(TemplateEnvironment.policy.canDeleteNetServicesCredential(netServiceCredential)) {
    @helper.form(action = routes.NetServiceController.deleteNetServiceCredential()) {
        @helper.CSRF.formField
        <input type="hidden" name="netServiceCredentialId" value="@netServiceCredential.getNetServiceCredentialId" />
        <button type="submit" class="linkBtn">Zugangsdaten Löschen</button>
    }
} else {
    <button type="submit" class="linkBtn" disabled>Zugangsdaten Löschen</button>
}