@import dtos.netservice.AddNetServiceParameterDto
@import models.NetServiceParameter.NetServiceParameterType
@(netService:NetService, form: Form[AddNetServiceParameterDto])

@Base("Netzdienst bearbeiten") {

    <p>
        Name: @netService.getName
    </p>

    <p>
        URL: @netService.getUrl
    </p>


    <p>


        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Default</td>
                    <td>Type</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
            @for(parameter <- netService.getParameters) {
                <tr>
                    <td>@parameter.getName</td>
                    <td>@parameter.getDefaultValue</td>
                    <td>@parameter.getParameterType</td>

                </tr>
            }
            </tbody>
        </table>


    </p>


    @helper.form(action = routes.NetServiceController.addNetServiceParameter()) {
        <div class="inputForm">
            @helper.TextInput(form("name"), "Name")
            @helper.TextInput(form("defaultValue"), "Default")
            @helper.SelectInput(
                form("parameterType"),
                "Type",
                NetServiceParameterType.values().map(parameterType => parameterType.toString -> parameterType.toString))
        </div>
        <input type="hidden" value="@form("netServiceId").getValue.get" name="netServiceId" />

        <div class="inputControls">
            <input type="submit" value="Parameter hinzufügen" />
        </div>

        @helper.CSRF.formField
    }
}
