@import dtos.netservice.{AddNetServiceParameterDto, EditNetserviceDto}
@import models.NetServiceParameter.NetServiceParameterType
@(netService:NetService, form: Form[AddNetServiceParameterDto], editDetailsForm : Form[EditNetserviceDto])

@Base("Netzdienst bearbeiten") {

    <h2>Details</h2>
    @helper.form(action = routes.NetServiceController.editNetService()) {
        <div class="inputForm">
            @helper.TextInput(editDetailsForm("name"), "Name")
            @helper.TextInput(editDetailsForm("url"), "Url")

            <input type="hidden" value="@editDetailsForm("netServiceId").getValue.get" name="netServiceId" />

            <div class="inputControls">
                <input type="submit" value="Ändern" />
            </div>
        </div>

        @helper.CSRF.formField

    }


    <h2>Parameter</h2>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Default</td>
                <td>Type</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
        @for(parameter <- netService.getParameters) {
            <tr>
                <td>@parameter.getName</td>
                <td>@parameter.getDefaultValue</td>
                <td>@parameter.getParameterType</td>
                <td class="right">
                    @helper.form(action = routes.NetServiceController.removeNetServiceParameter()){
                        <input type="hidden" value="@editDetailsForm("netServiceId").getValue.get" name="netServiceId" />
                        <input type="hidden" value="@parameter.getNetServiceParameterId()" name="netServiceParameterId" />

                        <div class="inputControls">
                            <input type="submit" class="linkBtn" value="Löschen" />
                        </div>

                        @helper.CSRF.formField
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>


    @helper.form(action = routes.NetServiceController.addNetServiceParameter()) {
        <div class="inputForm">
            @helper.TextInput(form("name"), "Name")
            @helper.TextInput(form("defaultValue"), "Default")
            @helper.SelectInput(
                form("parameterType"),
                "Type",
                NetServiceParameterType.values().map(parameterType => parameterType.toString -> parameterType.toString))
        </div>
        <input type="hidden" value="@form("netServiceId").getValue.get" name="netServiceId" />

        <div class="inputControls">
            <input type="submit" value="Parameter hinzufügen" />
        </div>

        @helper.CSRF.formField
    }
}
