@import policyenforcement.Policy
@import views.TemplateEnvironment
@import views.html.groups.DeleteGroupBtn
@(netServiceCredentials: Seq[NetServiceCredential])

@Base("Netzdienste Zugangsdaten") {

    <div class="inline-menu lr">
        <div class="left">

        </div>
        <div class="right">
        @helper.MenuLink("Zugangsdaten hinzufügen", routes.NetServiceController.showCreateNetServiceCredentialForm())
        </div>
    </div>


    <table>
        <thead>
            <tr>
                <td>Service</td>
                <td>Parameter</td>

                <td></td>
            </tr>
        </thead>

        <tbody>
        @for(netServiceCredential <- netServiceCredentials) {
            <tr>

                <td>@netServiceCredential.getNetService.getName</td>

                <td class="right">
                    <button text="Login"></button>
                </td>

                <td class="right">
                    @DeleteNetServiceCredentialBtn(netServiceCredential)
                </td>


            </tr>
        }
        </tbody>
    </table>
}