@import views.TemplateEnvironment
@(netServices: Seq[NetService])

@Base("Netzdienste") {

    <div class="inline-menu lr">
        <div class="left">

        </div>
        <div class="right">
        @helper.MenuLink("Netzdienst erstellen", routes.NetServiceController.showAddNetServiceForm())
        </div>
    </div>


    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>URL</td>
                <td></td>
                <td></td>
            </tr>
        </thead>

        <tbody>
        @for(netService <- netServices) {
            <tr>
                <td>@netService.getName</td>
                <td>@helper.Truncate(netService.getUrl, 45)</td>
                <td class="right">
                    <a href="@routes.NetServiceController.showEditNetService(netService.getNetServiceId)">Bearbeiten</a>
                </td>
                <td class="right">
                    @if(TemplateEnvironment.policy.canDeleteNetServices()) {
                        @helper.form(action = routes.NetServiceController.showDeleteNetServiceConfirmation()) {
                            @helper.CSRF.formField
                            <input type="hidden" name="netServiceId" value="@netService.getNetServiceId" />
                            <button type="submit" class="linkBtn">Löschen</button>
                        }
                    } else {
                        <button type="submit" class="linkBtn" disabled>Löschen</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}