@(netServiceCredentials: Seq[NetServiceCredential])

@Base("Netzdienste Zugangsdaten") {

    <div class="inline-menu lr">
        <div class="left">
            <span class="title">Ansicht:</span>
            @helper.MenuLink("Alle", routes.NetServiceController.showUserNetServiceCredentials())
        </div>
        <div class="right">
        @helper.MenuLink("Zugangsdaten hinzufügen", routes.NetServiceController.showCreateNetServiceCredentialForm())
        </div>
    </div>

    @if(netServiceCredentials.nonEmpty) {
        <table>
            <thead>
                <tr>
                    <td>Service</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
            @for(netServiceCredential <- netServiceCredentials) {
                <tr>

                    <td>@netServiceCredential.getNetService.getName</td>

                    <td class="right">
                        <form method="post" target="_blank" action="@routes.NetServiceController.decryptNetServiceCredential()">
                            <input type="hidden" name="credentialId" value="@netServiceCredential.getNetServiceCredentialId()"/>
                            <input type="submit" value="Login" />
                            @helper.CSRF.formField
                        </form>
                    </td>

                    <td class="right">
                        @DeleteNetServiceCredentialBtn(netServiceCredential)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div id="csrf_container">
            @helper.CSRF.formField
        </div>
    } else {
        <div class="message">
            Keine Zugangsdaten vorhanden!
        </div>
    }
}