@import models.NetServiceParameter.NetServiceParameterType
@(netServiceCredentials: Seq[NetServiceCredential])

@Base("Netzdienste Zugangsdaten") {

    <script src="@routes.Assets.at("js/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/single-sign-on.js")" type="text/javascript"></script>

    <div class="inline-menu lr">
        <div class="left">
            <span class="title">Ansicht:</span>
            @helper.MenuLink("Alle", routes.NetServiceController.showUserNetServiceCredentials())
        </div>
        <div class="right">
        @helper.MenuLink("Zugangsdaten hinzufügen", routes.NetServiceController.showCreateNetServiceCredentialForm())
        </div>
    </div>

    @if(netServiceCredentials.nonEmpty) {
        <table>
            <thead>
                <tr>
                    <td>Service</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
            @for(netServiceCredential <- netServiceCredentials) {
                <tr>

                    <td>@netServiceCredential.getNetService.getName</td>

                    <td class="right">
                        <form method="post" target="_blank" class="loginForm" x-credential-id="@netServiceCredential.getNetServiceCredentialId" action="@netServiceCredential.getNetService.getUrl">
                            @for(serviceParameter <- netServiceCredential.getNetService.getParameters) {
                                <input value="@serviceParameter.getDefaultValue" name="@serviceParameter.getName" type="hidden"
                                    @if(serviceParameter.getParameterType.equals(NetServiceParameterType.USERNAME)) {
                                        class="username"
                                    }

                                    @if(serviceParameter.getParameterType.equals(NetServiceParameterType.PASSWORD)) {
                                        class="password"
                            }
                                />
                            }
                        <input type="submit" value="Login" />
                        </form>
                    </td>

                    <td class="right">
                        @DeleteNetServiceCredentialBtn(netServiceCredential)
                    </td>

                </tr>
            }
            </tbody>
        </table>
        <div id="csrf_container">
            @helper.CSRF.formField
        </div>
    } else {
        <div class="message">
            Keine Zugangsdaten vorhanden!
        </div>
    }
}