@import policyenforcement.session.SessionManager.SessionInstance
@(groupPermission: GroupPermission)

@if(policyenforcement.Policy.instance.CanDeleteGroupPermission(SessionInstance().currentUser(), groupPermission)) {
    @helper.form(action = routes.PermissionController.deleteGroupPermission()) {
        @helper.CSRF.formField
        <input type="hidden" name="returnUrl" value="@request().uri()" />
        <input type="hidden" name="groupPermissionId" value="@groupPermission.getGroupPermissionId" />
        <button type="submit" class="linkBtn">Löschen</button>
    }
} else {
    <button type="submit" class="linkBtn" disabled>Löschen</button>
}