@import managers.filemanager.dto.PermissionMeta
@import managers.filemanager.dto.PermissionMeta.EType
@(permission : PermissionMeta)

@if(permission.canDeletePermission) {
    @if(permission.getType.equals(EType.USER)) {
        @helper.form(action = routes.PermissionController.deleteUserPermission()) {
            @helper.CSRF.formField
            <input type="hidden" name="returnUrl" value="@request().uri()" />
            <input type="hidden" name="userPermissionId" value="@permission.getId" />
            <button type="submit" class="linkBtn">Löschen</button>
        }
    }

    @if(permission.getType.equals(EType.GROUP)) {
        @helper.form(action = routes.PermissionController.deleteGroupPermission()) {
            @helper.CSRF.formField
            <input type="hidden" name="returnUrl" value="@request().uri()" />
            <input type="hidden" name="groupPermissionId" value="@permission.getId" />
            <button type="submit" class="linkBtn">Löschen</button>
        }
    }
} else {
    <button type="submit" class="linkBtn" disabled>Löschen</button>
}