@import policyenforcement.session.SessionManager.SessionInstance
@(userPermission : UserPermission)

@if(policyenforcement.Policy.instance.CanDeleteUserPermission(SessionInstance().currentUser(), userPermission)) {
    @helper.form(action = routes.PermissionController.deleteUserPermission()) {
        @helper.CSRF.formField
        <input type="hidden" name="returnUrl" value="@request().uri()" />
        <input type="hidden" name="userPermissionId" value="@userPermission.getUserPermissionId" />
        <button type="submit" class="linkBtn">Löschen</button>
    }
} else {
    <button type="submit" class="linkBtn" disabled>Löschen</button>
}