/*
    Allgemeines
 */
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/roboto/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('/assets/fonts/roboto/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/assets/fonts/roboto/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/assets/fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color:#303030
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    box-sizing: border-box;
}


a {
    color:#0066c0;
}

.main {
    margin:0 auto;
    max-width: 1000px;
    width:100%;
}

.main .linkBtn {
    background:none!important;
    border:none;
    padding:0!important;
    color:#0066c0;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    text-decoration: underline;
    cursor: pointer;
}

.main .linkBtn:disabled {
    color: #a1a1a1;
    text-decoration: none;
    cursor: default;
}

form {
    display: inline;
}

/*
    Logout
 */
.main .logout {
    margin-top:25px;
    text-align: right;
    padding-bottom: 10px;
}

/*
    Header
 */
.main .header {
    border-top:solid 1px #ccc;
    border-bottom: solid 2px #ea8f4c;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    width:100%;
    display: table;
    vertical-align: middle;
}

.header > div {
    display: table-cell;
    vertical-align: middle;
}

.header .logo {
    width: 220px;
    min-width: 220px;
}

.header .logo h1 {
    padding-left: 10px;
    box-sizing: border-box;
}

.header .logo h1, .header .logo h1 a {
    font-size:30px;
    color:#e56100;
    margin:0;
    text-decoration:none;
    white-space: nowrap;
}

.header .searchControl {
    width: 100%;
    padding-left: 25px;
    box-sizing: border-box;
}

.searchControl input {
    height:37px;
    padding:4px;
    width:100%;
}

.searchControl form {
    width: 100%;
    display: table;
}

.searchControl form > div {
    display: table-cell;
}

.searchControl .query {
    width: 100%;
}

.searchControl .query input {
    padding-left: 10px;
}

.searchControl .submit {
    padding-left: 5px;
}

.searchControl .submit input {
    font-weight: bold;
    padding: 0 15px;
}

/*
    Body
 */

.main .body {
    display: table
}


/* Sidebar */
.body .sidebar {
    display: table-cell;
    width: 220px;
    min-width: 220px;
}

.sidebar .box {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar .box:last-child {
    margin-bottom: 0;
}

.sidebar .box h2 {
    font-size:16px;
    padding: 10px;
    margin: 0;
    background: #fae9dc;
}

.sidebar .box > p {
    line-height: 1.5em;
    padding: 10px;
    background: #f7f7f7;
    margin-top:6px;
}

.sidebar .box > p.hr {
    padding: 0;
    background: #ccc;
    height: 1px;
}


.box.sessionInfo {

}

.box .menu a {
    width:100%;
    background: #ebf0fa;
    display: block;
    padding:10px;
    box-sizing: border-box;
    color:#000;
    text-decoration: none;
    margin-top: 6px;
}

.box .menu a:hover {
    background-color: #cbdaf7;
}

.box .menu a.active {
    background-color: #cbdaf7;
}

.box.groups {
    margin-top: 20px;
}

.box.groups .groupList {
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

/*
    Actual content
 */
.body .content {
    display: table-cell;
    width: 100%;
    padding-left: 25px;
}

.content h1 {
    margin: 0 0 10px 0;
    padding: 10px;
    font-size: 16px;
    background: #fae9dc;
    border-bottom: solid 1px #ea8f4c;
}


.content h2 {
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 7px;
    font-size: 16px;
}

.content > p {
    padding: 10px;
    line-height: 1.5em;
}

.content hr {
    border: 0;
    height: 1px;
    background: #ccc;
}
.content table {
    width: 100%;
    border-collapse: collapse;
}
.content table td {
    padding:10px;
    border:0;
    box-sizing: border-box;
    border-bottom: solid 1px #bfbfbf;
    white-space: nowrap;
}

.content table thead td {
    background: #f7f7f7;
    font-weight: bold;
    border-top: solid 1px #bfbfbf;
}

.content table tr td.right {
    text-align: right;
}

.content .fileTable .ownFile {
    background: #edfaeb;
}

.content .fileTable .thirdPartyFile {
    background: #faebeb;
}

.content .fileTable .name {
    width: 100%;
}

.content .permissionTable .file {
    color: #666;
}

.content .permissionTable .rightBound {
    text-align: right;
}

.fileTableLegend {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    background: #f5f5f5;
    padding:4px 5px !important;
    box-sizing: border-box;
    line-height: normal;
}

.fileTableLegend > div {
    padding: 5px 10px;
    display: inline-block;
    color:#8c8c8c;
}

.fileTableLegend > div.title {
    font-weight: bold;
}

.content .inline-menu.lr {
    display: table;
    width: 100%;
}

.content .inline-menu.lr .left {
    display: table-cell;
    text-align: left;
}

.content .inline-menu.lr .right {
    display: table-cell;
    text-align: right;
}


.content .inline-menu {
    padding: 10px;
    background: #f0f0f0;
    box-sizing: border-box;
    margin-bottom: 10px;
    line-height: normal;
}

.content .inline-menu a.active {
    font-weight: bold;
}

.content .message {
    padding: 10px;
    background: #f7f7f7;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.content .message.error {
    padding: 10px;
    background: #fae6e6;
    font-weight: bold;
}

.content .message.notice {
    background: #f7f2dc;
    font-weight: normal;
}

.content .message.success {
    background: #e2f7dc;
    font-weight: normal;
}

.content .inputForm {
    display: table;
    width: 100%;
}

.content .inputForm .element {
    display: table-row;
    width: 100%;
}

.content .inputForm .element:first-of-type > div {
    border-top: solid 1px #dedede;
}

.content .inputForm .element > div {
    display: table-cell;
    padding:10px 15px 10px 10px;
    border-bottom: solid 1px #dedede;
}

.content .inputForm .element .label {
    width: 1px;
    font-weight: bold;
    vertical-align: top;
}

.content .inputForm .element .label label {
    cursor: pointer;
}

.content .inputForm .element .input {
    width: 100%;
    padding-right: 0;
}

.content .inputForm .element .input input, .content .inputForm .element .input select, .content .inputForm .element .input textarea {
    padding: 5px;
    width: auto;
    min-width: 100%;
    box-sizing: border-box;
}

.content .inputForm .element .input input[type="file"] {
    padding: 0;
}

.content .inputForm .element .input textarea {
    height: 120px;
}

.content .inputControls {
    width: 100%;
    padding: 10px;
}

.content .inputControls input {
    padding:5px;
}

.content .inputForm .element .input .help {
    color:#666;
    width:100%;
    padding: 4px 0 0 0;
    display: block;
}

.content .inputForm .element .input .errors {
    color:#da0000;
    width:100%;
    padding: 4px 0 0 0;
    display: none;
}

.content .inputForm .element.error .input .errors {
    display: block;
}

.content li {
    padding:6px 0;
}

.content .max200PxHigh {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
}

.content .noTopSpace {
    padding-top: 0;
    margin-top: 0;
}

.content .trustworthy {
    background: #edfaeb;
}

.content .potentiallyDangerous {
    background: #faebeb;
}

.content .fileComment textarea {
    width: 100%;
    height: 125px;
    padding: 5px;
}

.content .left_right {
    display: table;
    width: 100%;
}

.content .left_right .left {
    display: table-cell;
    width: 50%;
    padding-right: 10px;
    border-right: solid 1px #dedede;
}

.content .left_right .right {
    display: table-cell;
    width: 50%;
    padding-left: 10px;
}

.content .fileMeta {
    padding: 10px;
    line-height: 1.5em;
}

    /*
        Footer
     */
.main .footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-top:solid 1px #ccc
}

.main .footer .copyright {
    display: table-cell;
    padding-left: 10px;
    color: #666;
}

.main .footer .links {
    display: table-cell;
    text-align: right;
}

/* 1C design */
body.base1CBody {
    background: #eeeeee;
}

.base1C {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.base1C .box {
    max-width: 550px;
}

.base1C h1 {
    font-size:30px;
    color:#e56100;
    margin:0;
    text-decoration:none;
    white-space: nowrap;
    padding: 10px 20px;
}

.base1C .content {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    border: solid 1px #ccc;
    border-top: solid 2px #ea8f4c;
    background: #ffffff;
}

.base1C h2 {
    margin-bottom: 15px;
    background: #fae9dc;
}

.base1C .g-recaptcha {
    margin-top: 10px;
}