@(form: Form[dtos.CreateGroupPermissionDto], ownFiles: Seq[File], allGroups: Seq[Group], possiblePermissions: Seq[PermissionLevel])

@Main("HsH-Helfer: Gruppen Berechtigung erstellen"){
    @bootstrapHelper.center("Einen neue Gruppen Berechtigung erstellen") {
        @bootstrapHelper.form(
            routes.PermissionController.createGroupPermission(),
            form,
            scala.collection.Map(
                "fileId" -> Input(InputType.Select,
                    value = Right(ownFiles.map(file => file.getFileId().toString() -> file.getName())),
                    label = "Datei wählen"),
                "groupId" -> Input(InputType.Select,
                    value = Right(allGroups.map(user => user.getGroupId().toString -> user.getName())),
                    label = "Gruppe wählen"),
                "permissionLevel" -> Input(InputType.Select,
                    value = Right(possiblePermissions.map(permissionLevel => permissionLevel.toString -> permissionLevel.toString)),
                    label = "Berechtigung")
            ),
            button = bootstrapHelper.button("Gruppen Berechtigung erstellen")
        )
    }
}