@import dtos.permissions.CreateGroupPermissionDto
@import managers.filemanager.dto.FileMeta
@(form: Form[CreateGroupPermissionDto], allGroups: Seq[Group], possiblePermissions: Seq[PermissionLevel], relevantFile : FileMeta)

@Base("Gruppenberechtigung erstellen"){
    @helper.form(action = routes.PermissionController.createGroupPermission()) {
        <div class="inputForm">
            <div class="element">
                <div class="label">Datei:</div>
                <div class="input">
                    <a href="@routes.FileController.showFile(relevantFile.getFileId)">@relevantFile.getFilename</a>
                </div>
            </div>

            @helper.SelectInput(
                form("groupId"),
                "Gruppe",
                allGroups.map(user => user.getGroupId().toString -> user.getName()))

            @helper.SelectInput(
                form("permissionLevel"),
                "Level",
                PermissionLevel.values().map(permissionLevel => permissionLevel.toString -> permissionLevel.toString))
        </div>
        <div class="inputControls">
            <input type="submit" value="Berechtigung erstellen" />
        </div>

        <input type="hidden" value="@relevantFile.getFileId" name="fileId" />

        @helper.CSRF.formField
    }
}