@import dtos.permissions.CreateUserPermissionDto
@import managers.filemanager.dto.FileMeta
@(form: Form[CreateUserPermissionDto], allUsers: Seq[User], possiblePermissions: Seq[PermissionLevel], relevantFile : FileMeta)

@Base("Benutzerberechtigung erstellen"){
    @helper.form(action = routes.PermissionController.createUserPermission()) {
        <div class="inputForm">
            <div class="element">
                <div class="label">Datei:</div>
                <div class="input">
                    <a href="@routes.FileController.showFile(relevantFile.getFileId)">@relevantFile.getFilename</a>
                </div>
            </div>

            @helper.SelectInput(
                form("userId"),
                "Benutzer",
                allUsers.map(user => user.getUserId().toString -> user.getUsername()))

            @helper.SelectInput(
                form("permissionLevel"),
                "Level",
                PermissionLevel.values().map(permissionLevel => permissionLevel.toString -> permissionLevel.toString))
        </div>
        <div class="inputControls">
            <input type="submit" value="Berechtigung erstellen" />
        </div>

        <input type="hidden" value="@relevantFile.getFileId" name="fileId" />

        @helper.CSRF.formField
    }
}