@(form: Form[dtos.CreateUserPermissionDto], ownFiles: Seq[File], allUsers: Seq[User], possiblePermissions: Seq[PermissionLevel])

@Main("HsH-Helfer: Benutzer Berechtigung erstellen"){
    @bootstrapHelper.center("Einen neue Benutzer Berechtigung erstellen") {
        @bootstrapHelper.form(
            routes.PermissionController.createUserPermission(),
            form,
            scala.collection.Map(
                "fileId" -> Input(InputType.Select,
                    value = Right(ownFiles.map(file => file.getFileId().toString() -> file.getName())),
                    label = "Datei wählen"),
                "userId" -> Input(InputType.Select,
                    value = Right(allUsers.map(user => user.getUserId().toString -> user.getUsername())),
                    label = "Nutzer wählen"),
                "permissionLevel" -> Input(InputType.Select,
                    value = Right(possiblePermissions.map(permissionLevel => permissionLevel.toString -> permissionLevel.toString)),
                    label = "Berechtigung")
            ),
            button = bootstrapHelper.button("Benutzer Berechtigung erstellen")
        )
    }
}