@import dtos.{EditGroupPermissionDto, GroupPermissionIdDto}
@(dto: EditGroupPermissionDto, editForm: Form[EditGroupPermissionDto])

@Base("Gruppenberechtigung bearbeiten") {
    @helper.form(action = routes.PermissionController.editGroupPermission()) {
        <div class="inputForm">
            <div class="element">
                <div class="label">Gruppe:</div>
                <div class="input">
                    <a href="@routes.GroupController.showGroup(dto.getGroupId)">@dto.getGroupName</a>
                </div>
            </div>

            <div class="element">
                <div class="label">Datei:</div>
                <div class="input">
                    <a href="@routes.FileController.showFile(dto.getFileId)">@dto.getFilename</a>
                </div>
            </div>

            @helper.SelectInput(
                editForm("permissionLevel"),
                "Level",
                PermissionLevel.values().map(permissionLevel => permissionLevel.toString -> permissionLevel.toString))
        </div>
        <div class="inputControls">
            <input type="submit" value="Berechtigung setzen" />
        </div>

        <input type="hidden" value="@dto.getGroupPermissionId" name="groupPermissionId" />
        <input type="hidden" value="@dto.getReturnUrl" name="returnUrl" />

        @helper.CSRF.formField
    }
}

