@import dtos.{EditUserPermissionDto, UserPermissionIdDto}
@(dto : EditUserPermissionDto, editForm: Form[EditUserPermissionDto])

@Base("Benutzerberechtigung bearbeiten") {
    @helper.form(action = routes.PermissionController.editUserPermission()) {
        <div class="inputForm">
            <div class="element">
                <div class="label">Benutzer:</div>
                <div class="input">
                @dto.getUsername
                </div>
            </div>

            <div class="element">
                <div class="label">Datei:</div>
                <div class="input">
                    <a href="@routes.FileController.showFile(dto.getFileId)">@dto.getFilename</a>
                </div>
            </div>

            @helper.SelectInput(
                editForm("permissionLevel"),
                "Level",
                PermissionLevel.values().map(permissionLevel => permissionLevel.toString -> permissionLevel.toString))
        </div>
        <div class="inputControls">
            <input type="submit" value="Berechtigung setzen" />
        </div>

        <input type="hidden" value="@dto.getUserPermissionId" name="userPermissionId" />
        <input type="hidden" value="@dto.getReturnUrl" name="returnUrl" />

        @helper.CSRF.formField
    }
}