@import models.dtos.{EditUserPermissionDto, UserPermissionIdDto}
@(dto: EditUserPermissionDto, editForm: Form[EditUserPermissionDto], deleteForm: Form[UserPermissionIdDto])

@Main("HsH-Helfer: Gruppenberechtigung bearbeiten") {
    @bootstrapHelper.center("Bearbeiten") {
        @bootstrapHelper.form(
            routes.PermissionController.editUserPermission(),
            editForm,
            scala.collection.Map(
                "userPermissionId" -> Input(InputType.Hidden),
                "permissionLevel" -> Input(InputType.Select,
                    value = Right(play.libs.Scala.asScala(dto.getPossiblePermissions()).map(permissionLevel => permissionLevel.toString -> permissionLevel.toString)),
                    label = "Berechtigung")
            ),
            button = bootstrapHelper.button("Speichern")
        )
    }
    @bootstrapHelper.center("Löschen") {
        @bootstrapHelper.form(
            routes.PermissionController.deleteUserPermission(),
            deleteForm,
            scala.collection.Map("userPermissionId" -> Input(InputType.Hidden)),
            button = bootstrapHelper.button("Berechtigung löschen")
        )
    }
}
