@import policyenforcement.Policy
@import policyenforcement.session.SessionManager.SessionInstance
@(files : Seq[File])

@permissions(file : File) = {
    @helper.PermissionFormat(
        Policy.instance.CanReadFile(SessionInstance().currentUser(), file),
        Policy.instance.CanWriteFile(SessionInstance().currentUser(), file)
    )
}

@truncateComment(comment: String) = {
    @if(comment.length < 20) {
        @comment
    } else {
        @comment.take(20).concat("...")
    }
}

@if(files.nonEmpty) {
    <table class="fileTable">
        <thead>
            <tr>
                <td class="name">Dateiname</td>
                <td>Kommentar</td>
                <td>Eigentümer</td>
                <td>Größe</td>
                <td>Zugriffsrechte</td>
            </tr>
        </thead>

        <tbody>
        @for(file <- files) {
            <tr class="@helper.TrustworthyFileClass(file)">
                <td class="name"><b><a href="@routes.FileController.showFile(file.getFileId)">@file.getName</a></b></td>
                <td>@truncateComment(file.getComment)</td>
                <td>@file.getOwner.getUsername</td>
                <td>@extension.FileSizeFormatter.humanReadableByteCount(file.getTotalSize)</td>
                <td>@permissions(file)</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="fileTableLegend">
        <div class="title">Legende:</div>
        <div class="trustworthy">Selbst geschriebene Dateien</div>
        <div class="potentiallyDangerous">Von anderen geschriebene Dateien</div>
    </div>
} else {
    <div class="message error">
        Keine Dateien vorhanden!
    </div>
}