@import policyenforcement.Policy
@import policyenforcement.session.SessionManager.SessionInstance
@import views.html.file.btn.DeleteGroupPermissionBtn
@import views.html.file.btn.DeleteUserPermissionBtn
@import views.html.file.btn.EditGroupPermissionBtn
@import views.html.file.btn.EditUserPermissionBtn
@(files : Seq[File])


@if(files.nonEmpty) {
    <table class="permissionTable">
        @for(file <- files) {
            <thead>
                <tr class="file">
                    <td><a href="@routes.FileController.showFile(file.getFileId)"><b>@file.getName</b></a></td>
                    <td  colspan="2">Berechtigungen</td>
                </tr>
            </thead>

            @for(groupPermission <- file.getGroupPermissions()) {
                <tr>
                    <td>Gruppe: @groupPermission.getGroup.getName</td>
                    <td>@helper.PermissionFormat(groupPermission.getCanRead, groupPermission.getCanWrite)</td>
                    <td  class="rightBound">@EditGroupPermissionBtn(groupPermission) - @DeleteGroupPermissionBtn(groupPermission)</td>
                </tr>
            }

            @for(userPermission <- file.getUserPermissions()) {
                <tr>
                    <td>User: @userPermission.getUser.getUsername</td>
                    <td>@helper.PermissionFormat(userPermission.getCanRead, userPermission.getCanWrite)</td>
                    <td class="rightBound">@EditUserPermissionBtn(userPermission) - @DeleteUserPermissionBtn(userPermission)</td>
                </tr>
            }
        }
    </table>
} else {
    <div class="message error">
        Keine Dateien vorhanden!
    </div>
}