@import managers.filemanager.dto.FileMeta
@(files : Seq[FileMeta])

@permissions(fileMeta : FileMeta) = {
    @helper.PermissionFormat(
        fileMeta.canReadFile,
        fileMeta.canWriteFile
    )
}

@if(files.nonEmpty) {
    <table class="fileTable">
        <thead>
            <tr>
                <td class="name">Dateiname</td>
                <td>Kommentar</td>
                <td>Eigentümer</td>
                <td>Größe</td>
                <td>Zugriffsrechte</td>
            </tr>
        </thead>

        <tbody>
        @for(file <- files) {
            <tr class="@helper.TrustworthyFileClass(file)">
                <td class="name"><b><a href="@routes.FileController.showFile(file.getFileId)">@file.getFilename</a></b></td>
                <td>@helper.Truncate(file.getComment)</td>
                <td>@file.getOwnerName</td>
                <td>@extension.FileSizeFormatter.FormatSize(file.getSize)</td>
                <td>@permissions(file)</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="fileTableLegend">
        <div class="title">Legende:</div>
        <div class="trustworthy">Selbst geschriebene Dateien</div>
        <div class="potentiallyDangerous">Von anderen geschriebene Dateien</div>
    </div>
} else {
    <div class="message error">
        Keine Dateien vorhanden!
    </div>
}