@import managers.filemanager.dto.FileMeta
@import managers.filemanager.dto.PermissionMeta.EType
@import views.html.file.btn.{DeletePermissionBtn, EditPermissionBtn}
@(files : Seq[FileMeta])


@if(files.nonEmpty) {
    <table class="permissionTable">
        @for(file <- files) {
            <thead>
                <tr class="file">
                    <td><a href="@routes.FileController.showFile(file.getFileId)"><b>@file.getFilename</b></a></td>
                    <td colspan="2">Berechtigungen</td>
                </tr>
            </thead>

            @for(permission <- file.getPermissions) {
                <tr>
                    <td>
                        @if(permission.getType.equals(EType.USER)) {
                            User:
                        }

                        @if(permission.getType.equals(EType.GROUP)) {
                            Gruppe:
                        }

                        @permission.getRefName
                    </td>
                    <td>@helper.PermissionFormat(permission.canRead, permission.canWrite)</td>
                    <td  class="rightBound">@EditPermissionBtn(permission) - @DeletePermissionBtn(permission)</td>
                </tr>
            }
        }
    </table>
} else {
    <div class="message">
        Keine Dateien vorhanden!
    </div>
}