@import policyenforcement.session.SessionManager.SessionInstance
@(title : String)(content : Html)

@quotaInfo() = {
    80% verbraucht (10MB übrig)
}


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>@title - HsH Helper</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
    </head>
    <body>

        <div class="main">
            <div class="logout">
                @helper.form(action = routes.LoginController.logout()) {
                    Angemeldet als @SessionInstance().currentUser().getUsername
                    @if(SessionInstance().currentUser().isAdmin) {
                        (Administrator)
                    }
                    -
                    @helper.CSRF.formField
                    <button type="submit" class="linkBtn">Logout</button>
                }
            </div>

            <div class="header">
                <div class="logo">
                    <h1><a href="@routes.HomeController.index()">HsH Helper</a></h1>
                </div>
                <div class="searchControl">
                    <form method="GET" action="/search">
                        <div class="query">
                            <input type="text" name="q" value="{{ search_query }}" />
                        </div>
                        <div class="submit">
                            <input type="submit" id="search_submit" value="Suchen" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="body">
                <div class="sidebar">
                    <div class="box actions">
                        <h2>Menü</h2>
                        <div class="menu">
                            <a href="#">Benutzerverwaltung</a>
                            <a href="#">Gruppenverwaltung</a>
                            <a href="#">Dateiverwaltung</a>
                            @helper.MenuLink("Sessionübersicht", routes.UserController.showActiveUserSessions())
                        </div>
                    </div>

                    <div class="box groups">
                        <h2>Gruppen (@SessionInstance().currentUser().getGroups.size())</h2>
                        <div class="groupList menu">
                            @for(group <- SessionInstance().currentUser().getGroups.asScala) {
                                @helper.MenuLink(
                                    group.getName,
                                    routes.GroupController.showGroupFiles(group.getGroupId),
                                    "/groups/"+group.getGroupId  // alias
                                )
                            }
                        </div>
                    </div>

                    <div class="box sessionInfo">
                        <h2>Session-Information</h2>
                        <p>
                            Session-Ende: 22.10.2018 - 13:14:12<br>
                            Aktive Sessions: <a href="@routes.UserController.showActiveUserSessions()">
                                @SessionInstance().sessionsByUser(SessionInstance().currentUser()).size()
                            </a><br>
                            Quota:  <a href="@routes.FileController.showQuotaUsage()">@quotaInfo()</a>
                        </p>
                    </div>
                </div>

                <div class="content">
                    <h1>@title</h1>

                    @content
                </div>
            </div>

            <div class="footer">
                <div class="copyright">
                        &copy; Philip, Julius, Torben, Dennis
                </div>

                <div class="links">
                    <a href="#">Datenschutz</a>
                            &middot;
                    <a href="#">Nutzungsbedingungen</a>
                            &middot;
                    <a href="#">Impressum</a>
                </div>
            </div>
        </div>


    </body>
</html>