@import dtos.file.SearchQueryDto
@import views.TemplateEnvironment
@(title: String, searchForm: Form[SearchQueryDto] = null)(content: Html)

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>@title - HsHelper</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
    </head>
    <body>
        <div class="main">
            <div class="logout">
            @helper.form(action = routes.LoginController.logout()) {
                Angemeldet als @TemplateEnvironment.GetMainManager().currentUser().getUsername
                @if(TemplateEnvironment.GetMainManager().currentUser().isAdmin) {
                    (Administrator)
                }
                -
                <a href="@routes.UserController.showUserSettings()">Einstellungen</a>
                -
                @helper.CSRF.formField
                <button type="submit" class="linkBtn">Logout</button>
            }
            </div>

            <div class="header">
                <div class="logo">
                    <h1><a href="@routes.HomeController.index()">HsHelper</a></h1>
                </div>
                <div class="searchControl">
                @helper.form(action = routes.FileController.searchFiles()) {
                    <div class="query">
                    @if(searchForm != null && searchForm.field("query").getValue.isPresent) {
                        <input type="text" id="query" name="query" value="@searchForm.field("query").getValue.get()" />

                    } else {
                        <input type="text" id="query" name="query" value="" />

                    }
                    </div>
                    <div class="submit">
                        <input type="submit" id="search_submit" value="Suchen" />
                    </div>
                    @helper.CSRF.formField
                }
                </div>
            </div>

            <div class="body">
                <div class="sidebar">
                    <div class="box actions">
                        <h2>Menü</h2>
                        <div class="menu">
                            @if(TemplateEnvironment.policy.canViewAllUsers) {
                                @helper.MenuLink("Benutzer", routes.UserController.showUsers(), "/users")
                            }
                            @if(TemplateEnvironment.policy.canSeeNetServiceOverviewPage) {
                                @helper.MenuLink("Netzdienste", routes.NetServiceController.showAllNetServices(), "/netservice")
                            }

                            @helper.MenuLink("Gruppen", routes.GroupController.showOwnMemberships(), "/groups")
                            @helper.MenuLink("Dateien", routes.FileController.showOwnFiles(), "/files")
                            @helper.MenuLink("Single Sign-on", routes.NetServiceController.showUserNetServiceCredentials(), "/credentials")
                            @helper.MenuLink("Sessions", routes.UserController.showActiveUserSessions())
                        </div>
                    </div>

                    <div class="box groups">
                        <h2>Mitgliedschaften</h2>
                        <div class="groupList menu">
                        @for(group <- TemplateEnvironment.GetMainManager().currentUser().getGroups.asScala) {
                            @helper.MenuLink(
                                group.getName,
                                routes.GroupController.showGroupFiles(group.getGroupId),
                                "/groups/" + group.getGroupId // alias
                            )
                        }
                        </div>
                    </div>

                    <div class="box sessionInfo">
                        <h2>Session-Information</h2>
                        <p>
                            Session endet in @TemplateEnvironment.GetMainManager().remainingSessionTime() Minuten<br>
                            Aktive Sessions: <a href="@routes.UserController.showActiveUserSessions()">
                            @TemplateEnvironment.GetMainManager().activeSessions()
                        </a><br>
                            Quota:  <a href="@routes.FileController.showQuotaUsage()">@TemplateEnvironment.GetMainManager().getQuotaUsage()</a>
                        </p>
                    </div>
                </div>

                <div class="content">
                    <h1>@title</h1>

                    @content
                </div>
            </div>

            <div class="footer">
                <div class="copyright">
                            &copy; Philip, Julius, Torben, Dennis
                </div>

                <div class="links">
                    <a href="#">Datenschutz</a>
                            &middot;
                    <a href="#">Nutzungsbedingungen</a>
                            &middot;
                    <a href="#">Impressum</a>
                </div>
            </div>
        </div>


    </body>
</html>
