@import models.dtos.PartialUserForm
@(form: Form[PartialUserForm])

@Main("Change Users Own Password"){
    @bootstrapHelper.form(
        routes.UserController.changeOwnPassword(),
        form,
        scala.collection.Map(
            "currentPassword" ->
                    Input(InputType.Password,
                        label = "Momentanes Passwort",
                        placeholder = "Momentanes Passwort hier eingeben",
                        help = "Passwort durch Sonderzeichen maskiert"),
            "password" ->
                    Input(InputType.Password,
                        label = "Neues Passwort",
                        placeholder = "Neues Passwort hier eingeben",
                        help = "Passwort durch Sonderzeichen maskiert"),
            "passwordRepeat" ->
                    Input(InputType.Password,
                        label = "Neues Passwort bestaetigen",
                        placeholder = "Neues Passwort hier wiederholt eingeben",
                        help = "Passwort durch Sonderzeichen maskiert")
        ),
        button = bootstrapHelper.button("Neues Passwort abschicken")
    )
}