@import models.dtos.ChangePasswordAfterResetDto
@(form: Form[ChangePasswordAfterResetDto])

@Main("Passwort zurücksetzen"){
    @bootstrapHelper.form(
        routes.LoginController.changePasswordAfterReset(),
        form,
        scala.collection.Map(
            "username" ->
                    Input(InputType.Text,
                        label = "Benutzername",
                        placeholder = "Benutzername hier eingeben",
                        help = ""),
            "currentPassword" ->
                    Input(InputType.Password,
                        label = "Aktuelles Passwort",
                        placeholder = "Aktuelles Passwort hier eingeben",
                        help = "Passwort durch Sonderzeichen maskiert"),
            "password" ->
                    Input(InputType.Password,
                        label = "Neues Passwort",
                        placeholder = "Neues Passwort hier eingeben",
                        help = "Passwort durch Sonderzeichen maskiert"),
            "passwordRepeat" ->
                    Input(InputType.Password,
                        label = "Neues Passwort bestaetigen",
                        placeholder = "Neues Passwort hier wiederholt eingeben",
                        help = "Passwort durch Sonderzeichen maskiert")
        ),
        button = bootstrapHelper.button("Neues Passwort abschicken")
    )
}