@import models.dtos.ChangeOwnPasswordDto
@(form: Form[ChangeOwnPasswordDto])

@import views.bootstrapHelper.Input
@import views.bootstrapHelper.enums.InputType

@Main("Change Users Own Password"){
    @bootstrapHelper.form(
        routes.UserController.changeOwnPassword(),
        form,
        scala.collection.Map(
            "password" ->
                    Input(InputType.Password,
                        label = "Neues Passwort",
                        placeholder = "Neues Passwort hier eingeben",
                        help = "Passwort durch Sonderzeichen maskiert"),
            "passwordRepeat" ->
                    Input(InputType.Password,
                        label = "Neues Passwort bestaetigen",
                        placeholder = "Neues Passwort hier wiederholt eingeben",
                        help = "Passwort durch Sonderzeichen maskiert")
        ),
        "Neues Passwort abschicken"
    )
}