@import models.dtos.ChangeOwnPasswordDto
@(form: Form[ChangeOwnPasswordDto])

@import views.bootstrapHelper.Input
@import views.bootstrapHelper.enums.InputType

@Main("Change Users Own Password"){
    @bootstrapHelper.form(
        routes.UserController.changeOwnPassword(),
        form,
        scala.collection.Map(
            "password" ->
                    Input(InputType.Password, "Neues Passwort", "Neues Passwort hier eingeben",
                "Passwort durch Sonderzeichen maskiert"),
            "passwordRepeat" ->
                    Input(InputType.Password, "Neues Passwort bestaetigen", "Neues Passwort hier wiederholt eingeben",
                "Passwort durch Sonderzeichen maskiert")
        ),
        "Neues Passwort abschicken"
    )
}