@(form: Form[dtos.CreateUserDto])

@import views.bootstrapHelper.Input
@import views.bootstrapHelper.enums.InputType

@Main("Administrator-Funktion: Benutzer erstellen"){
    @bootstrapHelper.form(
        routes.UserController.createUser(),
        form,
        scala.collection.Map(
            "username" -> Input(InputType.Text, "Benutzernamen", "Benutzernamen hier eingeben"),
            "email" -> Input(InputType.Text, "E-Mail Adresse", "E-Mail hier eingeben"),
            "quotaLimit" -> Input(InputType.Text, "Datenkontigent", "Datenkontigent als Zahl eingeben")
        ),
        "Benutzer erstellen"
    )
}