@import models.dtos.EditGroupPermissionDto
@import models.dtos.GroupPermissionDto
@(dto: EditGroupPermissionDto, editForm: Form[EditGroupPermissionDto], deleteForm: Form[GroupPermissionDto])

@Main("HsH-Helfer: Gruppenberechtigung bearbeiten") {
    @bootstrapHelper.center("Bearbeiten") {
        @bootstrapHelper.form(
            routes.PermissionController.editGroupPermission(),
            editForm,
            scala.collection.Map(
                "groupPermissionId" -> Input(InputType.Hidden),
                "permissionLevel" -> Input(InputType.Select,
                    value = Right(play.libs.Scala.asScala(dto.getPossiblePermissions()).map(permissionLevel => permissionLevel.toString -> permissionLevel.toString)),
                    label = "Berechtigung")
            ),
            button = bootstrapHelper.button("Speichern")
        )
    }
    @bootstrapHelper.center("Löschen") {
        @bootstrapHelper.form(
            routes.PermissionController.deleteGroupPermission(),
            deleteForm,
            scala.collection.Map("groupPermissionId" -> Input(InputType.Hidden)),
            button = bootstrapHelper.button("Berechtigung löschen")
        )
    }
}
