@import views.bootstrapHelper.enums.ButtonClass
@import bootstrapHelper._

@(group: Group, members: Seq[User], notMembers: Seq[User], addUserForm: Form[dtos.AddUserToGroupDTO], removeGroupUserForm: Form[dtos.RemoveGroupUserDTO])

@userButton(member: User) = {
    @if(policy.Specification.CanRemoveGroupMember(extension.ContextArguments.getUser().get(), group, member)) {
        @bootstrapHelper.form(
            routes.GroupController.removeGroupMember(group.getId()),
            removeGroupUserForm,
            scala.collection.Map(
                "userId" -> Input(InputType.Hidden,
                    value = Left(member.getId().toString))
            ),
            "Entfernen"
        )
    } else {
        @button("Entfernen", clazz = ButtonClass.Secondary)
    }
}

@Main("Mitglieder von: " + group.name) {
    @table(members.map(
        member => scala.collection.Map(
            "Benutzername" -> member.username,
            "" -> userButton(member).toString
    )))

    @if(policy.Specification.isAllowedToAddGroupMember(extension.ContextArguments.getUser().get(),
group)) {
        <h2>Benutzer hinzufuegen</h2>
        @bootstrapHelper.form(
            routes.GroupController.addGroupMember(group.getId()),
            addUserForm,
            scala.collection.Map(
                "userId" -> Input(InputType.Select,
                    value = Right(notMembers.map(user => user.id.toString -> user.username)),
                    label = "Nutzer waehlen")
            ),
            "Nutzer hinzufuegen"
        )
    }
}