@import models.dtos.UserLoginDto
@(form: Form[UserLoginDto])

@import views.bootstrapHelper.Input
@import views.bootstrapHelper.enums.InputType

@Main("User Login"){
    @bootstrapHelper.form(
        routes.LoginController.loginCommit(),
        form,
        scala.collection.Map(
            "username" -> Input(InputType.Text, "Benutzername", "Benutzernamen hier eingeben"),
            "password" -> Input(InputType.Password, "Passwort", "Passwort hier eingeben",
                                "Passwort durch Sonderzeichen maskiert")
        ),
        "Login"
    )

    @helper.form(action = routes.LoginController.loginCommit()){
        @helper.CSRF.formField

        @helper.inputText(form("username"))
        @helper.inputPassword(form("password"))

        <input type="submit" class="btn btn-primary" value="Login" />
    }
}