@(title: String)(content: Html)

@navbar() = {
    <nav class="navbar navbar-expand-sm navbar-dark bg-hsh-f4-orange">
        <a class="navbar-brand" href="@routes.HomeController.index()">HsH-Helfer</a>
        @if(extension.ContextArguments.getUser().isPresent()) {
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@routes.GroupController.showOwnGroups()">
                            Gruppenuebersicht
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@routes.UserController.showActiveUserSessions()">
                            Sessions
                        </a>
                    </li>
                    @if(extension.ContextArguments.getUser().get().isAdmin) {
                        <li>
                            <a class="nav-link" href="@routes.UserController.showCreateUserForm()">
                                Benutzer anlegen
                            </a>
                        </li>
                    }
                    @if(extension.ContextArguments.getUser().get().isAdmin) {
                        <li>
                            <a class="nav-link" href="@routes.UserController.showUsers()">
                                Benutzerübersicht
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <span class="navbar-text">
                @helper.form(action = routes.LoginController.logout()) {
                    @helper.CSRF.formField

                    <button type="submit" class="btn btn-secondary-outline nav-link">Ausloggen</button>
                }
            </span>
        }
    </nav>
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-responsive.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/hsh-colors.css")">
    </head>
    <body>
        @navbar
        <div class="px-3 py-3">
            @content
        </div>
    </body>
</html>
