@(groups: Seq[Group], deleteGroupForm: Form[dtos.DeleteGroupDTO])

@import bootstrapHelper._

@viewGroupButton(g: Group) = {
    @if(policy.Specification.CanViewGroupDetails(extension.ContextArguments.getUser().get(), g)) {
        @link("Mitglieder bearbeiten", routes.GroupController.getGroup(g.id))
    }
}

@deleteGroupButton(g: Group) = {
    @if(policy.Specification.CanDeleteGroup(extension.ContextArguments.getUser().get(), g)) {
        @bootstrapHelper.form(
            routes.GroupController.removeGroup(g.id),
            deleteGroupForm,
            scala.collection.Map(
                "groupId" -> Input(InputType.Hidden,
                    value = Left(g.id.toString))
            ),
            "Gruppe loeschen"
        )
    }
}

@Main("Eigene Gruppen") {
    @table(groups.map(
        g => scala.collection.Map(
            "Gruppenname" -> g.name,
            "Gruppenmitglieder anschauen" -> viewGroupButton(g).toString(),
            "Gruppe loeschen" -> deleteGroupButton(g).toString()
        )
    ))

    <hr>
    @link("Eine neue Gruppe anlegen", routes.GroupController.getCreateGroup())
}