@(groups: Seq[Group])

@groupButton(g: Group) = {
    @if(policy.Specification.CanViewGroupDetails(extension.ContextArguments.getUser().get(), g)) {
        @functions.link("Mitglieder bearbeiten", routes.GroupController.getGroup(g.id))
    }
}

@Main("Eigene Gruppen") {
    @functions.table(groups.map(
        g => scala.collection.Map(
            "Gruppenname" -> g.name,
            "" -> groupButton(g).toString()
        )
    ))

    <hr>
    @functions.link("Eine neue Gruppe anlegen", routes.GroupController.getCreateGroup())
}