@import models.dtos.PermissionEntryDto
@(permissions: Seq[PermissionEntryDto])

@Main("HsH-Helfer: Permissions") {
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">FileName</th>
                <th scope="col">Name</th>
                <th scope="col">Permission</th>
                <th scope="col">Aktion</th>
            </thead>

            <tbody>
                @for(permission <- permissions) {
                    <tr>
                        <td>@permission.getIndex()</td>
                        <td>@permission.getType()</td>
                        <td>@permission.getFileName()</td>
                        <td>@permission.getText()</td>
                        <td>@permission.getPermission()</td>
                        <td>
                            @if(permission.getIsGroupPermission()) {
                                <a class="btn btn-primary" href="@routes.PermissionController.editGroupPermission(permission.getGroupOrUserIdentifier())" role="button">Bearbeiten</a>
                            } else {
                                <a class="btn btn-primary" href="@routes.PermissionController.editUserPermission(permission.getGroupOrUserIdentifier())" role="button">Bearbeiten</a>
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6">
                        <a class="btn btn-primary" href="@routes.PermissionController.showCreateGroupPermission()" role="button">Neue Gruppen Berechtigung</a>
                        <a class="btn btn-primary" href="@routes.PermissionController.showCreateUserPermission()" role="button">Neue Nutzer Berechtigung</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
