@(sessions: Seq[UserSession])

@import functions._

@sessionButton(s: UserSession) = {
    @if(policy.Specification.CanDeleteSession(extension.ContextArguments.getUser().get(), s)) {
        @helper.form(action = routes.UserController.deleteUserSession()){
            @helper.CSRF.formField
            <input type="hidden" name="sessionId" value="@s.getId" />
            <button type="submit">Session Zerstören</button>
        }
    } else {
        <button type="submit" disabled>Session Zerstören</button>
    }
}

@Main("Aktive Sessions") {
    @functions.table(sessions.map(
        s => scala.collection.Map(
            "Verwendete IP" -> s.getConnectedFrom,
            "Erstellungsdatum" -> s.getIssuedAt.toString("dd.MM.yyyy - HH:mm:ss"),
            "" -> sessionButton(s).toString()
        )
    ), bordered = true)
}