@(sessions: Seq[UserSession], deleteSessionform: Form[dtos.DeleteSessionDTO])

@import bootstrapHelper._
@import views.bootstrapHelper.Input
@import views.bootstrapHelper.enums.InputType

@sessionButton(s: UserSession) = {
    @if(policy.Specification.CanDeleteSession(extension.ContextArguments.getUser().get(), s)) {
        @form(
            routes.UserController.deleteUserSession(),
            deleteSessionform,
            scala.collection.Map(
                "sessionId" -> Input(InputType.Hidden,
                    value = s.getId.toString)
            ),
            "Session Zerstören"
        )
    } else {
        @button("Session Zerstören", disabled = true)
    }
}

@Main("Aktive Sessions") {
    @table(sessions.map(
        s => scala.collection.Map(
            "Verwendete IP" -> s.getConnectedFrom,
            "Erstellungsdatum" -> s.getIssuedAt.toString("dd.MM.yyyy - HH:mm:ss"),
            "" -> sessionButton(s).toString()
        )
    ), bordered = true)
}